<html th:replace="student/studentbase::layout(~{::section})">
	<head>
		</head>
		<body>
			<section>
				<h2 class="text-center text-primary mt-4" style="color:black; font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 700;">CHANGE PASSWORD</h2>
				<div th:if="${msg}"> 
					<p th:text="${msg}" style="text-align: center; color: red;"><p>
					
				</div>

							<div class="row mt-5">
			                    <div class="col-sm-6 border-primary  border-3 rounded-3 mx-auto" style="border: 2px solid; height: 340px; box-shadow: 5px 5px 15px blueviolet;">
									
			            <form class="form-group" method="post">
			            
			              <div class="mb-3 mt-4">
			                <label for="exampleInputPassword1" class="form-label fw-bold text-primary">ENTER OLD PASSWORD</label>
			                <input type="password" class="form-control " name="oldpassword" required placeholder="Old Pass.." id="exampleInputPassword1" style="background-color: rgb(220, 233, 214); color: rgb(23, 165, 23);">
			              </div>
			               
			              <div class="mb-3">
			                <label for="exampleInputPassword1" class="form-label fw-bold text-primary">ENTER NEW PASSWORD</label>
			                <input type="password" class="form-control" name="newpassword" required placeholder="New Pass.." id="exampleInputPassword1" style="background-color: rgb(220, 233, 214); color: rgb(23, 165, 23);">
			              </div>
			              <div class="mb-3">
			                <label for="exampleInputPassword1" class="form-label fw-bold text-primary">CONFIRM NEW PASSWORD</label>
			                <input type="password" class="form-control" name="confirmpassword" required placeholder="Confirm Pass.." id="exampleInputPassword1" style="background-color: rgb(220, 233, 214); color: rgb(23, 165, 23);">
			              </div>
			               <center><button type="submit" class="btn btn-primary" style="width: 150px;">Submit</button></center>
			            </form>
			            
			                    </div>
			                   </div>
							
						</section>
			 
			</body>
	</html> 