<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
	    <link rel="stylesheet" href="css/style.css">
	</head>
  <body>
	
    
	<div class="container-fluid">
	       <!-- header start -->
	        <div class="row">
	            <div class="col-sm-12  py-2 text-light" style="border-bottom: 1px rgb(243, 243, 47) dashed; background-color: darkred;">
	                <div class="row">
	                    <div class="col-sm-6 text-center"><i class="fa-solid fa-phone fa-spin"></i> +91 7080102007 <i class="fa-solid fa-envelope ms-3"></i> nouegyanhelp@gmail.com
	                    </div>
	                    <div class="col-sm-6 text-center">Sat Sep 07 2024 22:16:11 GMT+0530 (India Standard Time)</div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-sm-12 text-center text-light py-3" style="background-color: darkred; border-bottom: 1px rgb(243, 243, 47) dashed;">
	                For Admission and Examination related query, Kindly call on University helpline Numbers 9341508580,9341508577,0612-2201013 & 0612-2206916
	            </div>
	        </div>
	       <!-- header end -->
		   <div class="row">
		   	                    <div class="col-sm-6 py-4  " style="background-color:rgba(0,0,0,0.7);">
		   	                         <span style="font-size: 35px; color: white; margin-left: 130px;">ADMIN</span><span style="font-size: 35px; color: red;">LOGIN</span>
		   	                    </div>
		   	            
		   	            <div class="col-sm-6 p-0 " style="background-color: rgba(0,0,0,0.7);">
		   	                
		   	                <nav class="navbar navbar-expand-lg " style="margin-top: 13px;">
		   	                    <div class="container-fluid ">
		   	                       
		   	                      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 50px;">
		   	                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		   	                            <li class="nav-item dropdown">
		   	                                <a class="nav-link dropdown-toggle" href="/home" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
		   	                                  Home
		   	                                </a>
		   	                                <ul class="dropdown-menu">
		   	                                  <li><a class="dropdown-item" href="/home">Home</a></li>
		   	                                  <li><a class="dropdown-item" href="#">About portal</a></li>
		   									  <li><a class="dropdown-item" href="/studentlogin">Registration</a></li>
		   	                                </ul>
		   	                              </li>
		   	                          <li class="nav-item">
		   	                            <a class="nav-link" href="/studentlogin"> <span style="color: white;"><i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;&nbsp;Registration</a></span>
		   	                          </li>
		   	                          <li class="nav-item"></li>
		   	                            <a class="nav-link" href="#"><span style="color: white;"><i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;&nbsp;Services</a></span>
		   	                          </li>
		   	                          <li class="nav-item"></li>
		   	                            <a class="nav-link" href="#"><span style="color: white;"><i class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;Study Center</a></span>
		   	                          </li>
		   	                          <li class="nav-item dropdown">
		   	                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
		   	                                <i class="fa-solid fa-key fa-spin"></i>&nbsp;&nbsp; Login
		   	                            </a>
		   	                            <ul class="dropdown-menu">
		   	                              <li><a class="dropdown-item" href="/adminlogin">admin Login</a></li>
		   	                              <li><a class="dropdown-item" href="#">Study Centre login</a></li>
		   	                              <li><a class="dropdown-item" href="/stulogin">Student Login</a></li>
		   	                              
		   	                            </ul>
		   	                          </li>
		   	                          <li class="nav-item"></li>
		   	                            <a class="nav-link" href="/contactus"> <span style="color: white;"><i class="fa-solid fa-phone fa-spin"></i>&nbsp;&nbsp;&nbsp;Contact</a></span>
		   	                          </li>
		   	                           
		   	                        </ul>
		   	                    
		   	                      </div>
		   	                    </div>
		   	                  </nav>
		   	            </div>
		   	                </div>
			<section>
			  <div class="row mt-5">
			      <div class="col-sm-8 mx-auto">
			  <h1 class="text-center fw-bold text-primary"><img src="images/logo1 (1).png" width="15%"></h1>
			  <!-- mesage -->
			      </div>
			  </div>
			  <div class="col-sm-8 mx-auto">

			      <form  method="post" th:object="${dto}">
			  <table class="table table-bordered">
			  <tr>
			      <td>
			          Enter user id
			      </td>
			      <td>
			          <input type="text" class="form-control" th:field="${dto.userid}">
			      </td>
			  </tr>
			  <tr>
			      <td>
			          Enter password
			      </td>
			      <td>
			          <input type="password" class="form-control" th:field="${dto.password}">
			      </td>
			  </tr>
			  <tr>
			      <td colspan="2" class="text-center">
			      <button class="btn btn-primary" type="submit">Login</button>
			      </td>
			  </tr>
			  </table>


			      </form>
			  </div>
			      </section>

	

	 
	<!-- Footer start -->
	   <div class="row mt-5" style="background-color: #8B0000">
	    <div class="col-sm-9 mx-auto py-5">
	      <div class="row" style="text-align: justify; color: white;">
	        <div class="col-sm-3">
	          <div class="mx-auto mb-2" style="height: 130px; width: 51%; background-color: white; border-radius: 120px; border: 2.5px solid rgb(249, 170, 25);" >
	            <img src="images/foot.png" class="img-fluid">
	          </div>
	          <span><b><small><p>Nalanda Open &nbsp;University is a State</p> <p>Open&nbsp; University&nbsp; duly&nbsp;&nbsp; established</p><p> under the Act of Bihar Government </p><p>and is also &nbsp;recognized by &nbsp;Distance</p><p> Education &nbsp;Council, IGNOU, Maidan</p> Garhi, New Delhi.</small></b></span>
	        </div>
	        <div class="col-sm-3 pt-4">
	          <span class="fs-2">Useful Links</span>
	          <div style="height: 3px; width: 52%; background-color: rgb(223, 100, 19);"></div><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>Home</small></b></button><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>About Portal</small></b></button><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>Services</small></b></button><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>Contact us</small></b></button><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>Courses</small></b></button><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>Study Centre</small></b></button>
	        </div>
	        <div class="col-sm-3 pt-4">
	          <span class="fs-2">Contact info</span>
	          <div style="height: 3px; width: 52%; background-color: rgb(223, 100, 19);"></div><br>
	          <span class="fs-5 fw-semibold"><i class="fa-solid fa-location-dot" style="font-size: 18px;"></i> NOU</span><br><br>
	          <small><b>
	            <p>2nd / 3rd Floor , Biscomaun</p>
	            <p>Bhawan , Gandhi Maidan , Patna</p>
	            <p>800 001 (BIHAR).</p><br>
	            <p class="fs-5"><i class="fa-solid fa-phone-volume" style="font-size: 17px;"></i> +91 7080102007</p>
	            <p class="ps-3">Give us a call</p>
	          </b></small>
	        </div>
	        <div class="col-sm-3 pt-4">
	          <span class="fs-2">Subscribe</span>
	          <div style="height: 3px; width: 52%; background-color: rgb(223, 100, 19);"></div><br>
	          <small><b>
	            <p>Fill the&nbsp; detail below to receive</p><p>the manual of the NOU e-Gyan</p> Portal
	          </b></small><br><br>
	          <div class="position-relative">
	            <input type="text" class="form-control position-absolute py-2" placeholder="Email Address" style="background-color: rgb(99, 96, 96); color: aliceblue; border-radius: 100px;"/>
	            <button class="btn btn-danger position-absolute end-0 py-2" style="background-color:#f56642; border-radius: 3px 70px 70px 3px; width: 24%;">
	              <i class="fa-brands fa-telegram" style="font-size:24;"></i></button>
	          </div>
	        </div>
	      </div>
	    </div>
	   </div>
	   <div class="row text-light">
	    <div class="col-sm-12 text-center py-3" style="background-color: #6a1919;">
	      © Copyright 2024 Designed & Developed By | Yugank Singh Rockstar*
	      <button class="fs-5 btn text-light float-end" style="margin-top: -23px; background-color: #EF6603; width: 45px; border-radius: 100px;"><i class="fa-solid fa-arrow-up"></i></button>
	    </div>
	   </div>
	  <!-- Footer end --> 

	  
	  </div>

	
	
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>