<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
	    <link rel="stylesheet" href="css/style.css">
	</head>
  <body>
    
	<div class="container-fluid">









	    
	    <!-- first nav start -->
	    <div class="row">
	      <div class="col-sm-12  py-2 text-light"
	        style="border-bottom: 1px rgb(243, 243, 47) dashed; background-color: darkred;">
	        <div class="row">
	          <div class="col-sm-6 text-center"><i class="fa-solid fa-phone fa-spin"></i> +91 7080102007 <i
	              class="fa-solid fa-envelope ms-3"></i> nouegyanhelp@gmail.com
	          </div>
	          <div class="col-sm-6 text-center">Sat Sep 07 2024 22:16:11 GMT+0530 (India Standard Time)</div>
	        </div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-sm-12 text-center text-light py-3"
	        style="background-color: darkred; border-bottom: 1px rgb(243, 243, 47) dashed;">
	        For Admission and Examination related query, Kindly call on University helpline Numbers
	        9341508580,9341508577,0612-2201013 & 0612-2206916
	      </div>
	    </div>
	    <!-- first nav end-->







	    <!-- second nav start -->
	    <div class="row py-2">
	      <div class="col-sm-2 text-end logo"><a href="#"><img src="images/logo1 (1).png" alt=""></a></div>
	      <div class="col-sm-4">
	        <h2 style="color: darkred; margin-left: 45px;">NOU e-Gyan PORTAL</h2><span class="fw-semibold ms-5">(A Concept
	          by Nalanda Open University)</span>
	      </div>
	      <div class="col-sm-6 p-3">
	        <a href="" class="btn text-info btn border-info"
	          style="height: 40px; width: 40px; border-radius: 100px; margin-left: 280px;">
	          <i class="fa-brands fa-twitter fa-spin"></i>
	        </a>
	        <a href="" class="btn text-primary btn border-primary"
	          style="height: 40px; width: 40px; border-radius: 100px; margin-left: 2px;">
	          <i class="fa-brands fa-facebook fa-spin"></i>
	        </a>
	        <a href="" class="btn btn  border-danger"
	          style="height: 40px; width: 40px; border-radius: 100px;color: rgb(235, 79, 133); margin-left: 2px;">
	          <i class="fa-brands fa-instagram fa-spin"></i></a>
	        <a href="" class="btn  btn border-info"
	          style="height: 40px; width: 40px; border-radius: 100px; color: blue; margin-left: 2px;">
	          <i class="fa-brands fa-linkedin fa-spin"></i></a>
	        <a href="" class="btn btn border-danger"
	          style="height: 40px; width: 40px; border-radius: 100px; color: red; margin-left: 2px;">
	          <i class="fa-brands fa-youtube fa-spin"></i> </a>
	      </div>
	    </div>
	    <!-- second nav end -->









	    <!-- slider start -->
	    <div class="row"style="
		background-size: cover;
		height: 600px;
		background-image: url('../images/o.jpg');
">
	      <div class="col-sm-12 ">
	        <div class="row">
	          <div class="col-sm-6 py-4  " style="background-color:rgba(0,0,0,0.7);">
	            <span style="font-size: 35px; color: white; margin-left: 130px;">WELCOME</span><span
	              style="font-size: 35px; color: red;">STUDENTS</span>
	          </div>

	          <div class="col-sm-6 p-0 rahul" style="background-color: rgba(0,0,0,0.7);">

	            <nav class="navbar navbar-expand-lg " style="margin-top: 13px;">
	              <div class="container-fluid ">

	                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 50px;">
	                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	                    <li class="nav-item dropdown">
	                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
	                        aria-expanded="false" style="color:white;">
	                        Home
	                      </a>
	                      <ul class="dropdown-menu">
	                        <li><a class="dropdown-item" href="/home">Home</a></li>
	                        <li><a class="dropdown-item" href="#">About portal</a></li>
							<li><a class="dropdown-item" href="/studentlogin">Registration</a></li>

	                      </ul>
	                     
	                    <li class="nav-item">
	                      <a class="nav-link" href="/studentlogin"> <span style="color: white;"><i
	                            class="fa-solid fa-book-open"></i>&nbsp;&nbsp;&nbsp;Registration</a></span>
	                    </li>
	                    <li class="nav-item"></li>
	                    <a class="nav-link" href="#"><span style="color: white;"><i
	                          class="fa-solid fa-book-open"></i>&nbsp;&nbsp;&nbsp;Services</a></span>
	 	                    <li class="nav-item"></li>
	                    <a class="nav-link" href="#"><span style="color:white;"><i class=" fa-solid
	                        fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;Study Center</a></span>
	                   
	                    <li class="nav-item dropdown">
	                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
	                        aria-expanded="false" style="color:white;">
	                        <i class="fa-solid fa-key fa-spin"></i>&nbsp;&nbsp; Login
	                      </a>
	                      <ul class="dropdown-menu">
	                        <li><a class="dropdown-item" href="/adminlogin">Admin Login</a></li>
	                        <li><a class="dropdown-item" href="#">Study Centre login</a></li>
	                        <li><a class="dropdown-item" href="/stulogin">Student Login</a></li>

	                      </ul>
	                     
	                    <li class="nav-item"></li>
	                    <a class="nav-link" href="/contactus"> <span style="color: white;"><i
	                          class="fa-solid fa-phone fa-spin"></i>&nbsp;&nbsp;&nbsp;Contact</a></span>
	                     

	                  </ul>

	                </div>
	              </div>
	            </nav>
	          </div>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-sm-12">
	          <marquee behavior="" direction="down">
	            <p style="margin-left: 1170px; margin-top: 200px; font-size: 24px; color:white;">Get Educated</p>
	          </marquee>
	          <p style="margin-left: 1015px; font-size: 35px; color:#E27C00;"> <b>From Our Content</b></p>
	          <p style="margin-left:955px;  margin-top: -30px; font-size: 35px; color: #E27C00;"> <b>For Distance
	              Learning</b></p>
	          <p style="margin-left: 730px; margin-top: -10px; font-size: 20px; color: #E27C00;">NOU-e-Gyan PORTAL, CONCEPT
	            BY NALANDA OPEN UNIVERSITY</p>
	        </div>
	      </div>
	    </div>
	    <!-- slider end -->







	    <!-- yellow marquee start -->
	    <div class="row mt-2">
	      <div class="col-sm-12 bg-warning py-2">
	        <marquee scrollamount="12" onmousemove="this.stop()" onmouseout="this.start()">
	          <div class="row">
	            <div class="col-sm-3 text-light py-2" style="background-color:rgba(209, 33, 10, 0.985) ;">The portal is easy
	              to access & highly user<br />
	              friendly for the students & study centres.</div>
	            <div class="col-sm-3 ms-5 text-light py-2" style="background-color:rgba(209, 33, 10, 0.985) ;">The portal is
	              fully secured and accessible<br />
	              24 x 7 to its authorised users.</div>
	            <div class="col-sm-3  ms-5 text-light py-2" style="background-color:rgba(209, 33, 10, 0.985) ;">The portal
	              is easy to access & highly user<br />
	              friendly for the students & study centres.</div>
	        </marquee>
	      </div>
	    </div>
	    <!-- yellow marquee end -->







	    <!-- description start -->
	    <div class="row mt-5">
	      <div class="col-sm-3 text-end text-secondary">
	        <h5>DISCRIPTION</h5>
	      </div>
	      <div class="col-sm-1" style="color:rgba(189, 102, 61, 0.968);"><b>
	          <hr>
	        </b></div>
	    </div>
	    <div class="row">
	      <div class="col-sm-2 text-end text-black" style="margin-left: 100px; margin-top: -10px;">
	        <h3 class="me-0"><b>ABOUT</b></h3>
	      </div>
	      <div class="col-sm-9 text-start" style="color:rgb(177, 31, 12); margin-top: -10px;">
	        <h3 class="ms-0"><b>NOU e-Gyan Portal</b></h3>
	      </div>
	    </div>
	    <!-- description end -->






	    <!-- nalanda open image start  -->
	    <div class="row mt-4">
	      <div class="col-sm-6" style="margin-left: 125px; text-align: justify;">
	        <p class="fw-semibold">
	          <strong> Nalanda Open University </strong> welcomes all our students, faculties & study centres to the very
	          new & innovative online study portal <strong>NOU e-Gyan</strong>. The portal is a unique initiative by Hon'ble
	          Vice-Chancellor <strong>Prof. (Dr.) K C Sinha</strong>, which aims at providing online study material to the
	          students of NOU.
	          <br /><br />
	          The portal is accessible from any hook and corner of the world if the system allows the permission to its
	          users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic
	          issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring & Controlling of
	          all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open
	          University Admins when they are at a distance.
	        </p>
	      </div>
	      <div class="col-sm-4"style="		  background-size: cover;
		      height: 350px;
		      background-image: url('../images/slider1.jpeg');
		  margin-left: 125px;">



	      </div>
	    </div>
	    <div class="row">
	      <div class="bg-warning p-0" style="height: 200px; width: 270px; margin-left: 957px; margin-top: -270px;">
	        <a href="https://youtu.be/jVl8uLz8f9w"><img src="images/overlap.jpg" class="w-100"></a>
	      </div>
	    </div>
	    <!-- nalanda open image end  -->






	    <!-- user of the portal start -->
	    <div class="row  mt-5" style=" 		background-size: cover;
		    background-image: url('../images/bg.jpg');
		    background-attachment: fixed;
		    height: 600px;   background-color: rgb(255, 255, 251,0.2);">
	      <div class="row">
	        <div class="col-sm-12" style="padding-top: 40px;">
	          <span style=" color: rgb(219, 189, 189);">
	            <h4 style="margin-left: 180px;">Portal<ab style="color: pink;"> ________________</ab>
	            </h4>
	          </span>
	          <span style="font-size: 30px;margin-left: 180px; color: red;">USERS</span> &nbsp;<span
	            style="font-size: 30px;">OF THE PORTAL</span>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-sm-4  ">

	          <div class="row">
	            <div class="col-sm-12"
	              style="background-color:rgb(255, 255, 251,0.2); height: 315px; margin-top: 20px; width: 305px; margin-left: 230px;border-radius: 20px;">
	              <div class="card " style="width: 17rem; margin-top: 17px;   height: 280px; margin-left: 5px;">

	                <div class="card-body" style="background-color:white; border-radius: 20px;">
	                  <center style="margin-top: 5px;">
	                    <p class="card-text">The university admin can login to monitor the portal, provide access to
	                      authorised stake holders & upload study material.</p>
	                    <a href="#" class="btn btn-warning" style="margin-top: 50px;">University Admin</a>
	                  </center>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col-sm-4  ">
	          <div class="row">
	            <div class="col-sm-12"
	              style="background-color:rgb(255, 255, 251,0.2); height: 315px; margin-top: 20px; width: 305px; margin-left: 120px;border-radius: 20px;">
	              <div class="card" style="width: 17rem; margin-top: 17px;   height: 280px; margin-left: 5px;">

	                <div class="card-body" style="background-color:white; border-radius: 20px;">
	                  <center style="margin-top: px;">
	                    <p class="card-text">The university enrolled students can login to view the notification by
	                      university, access the e-contents, give assignments & track thier progress report.</p>
	                    <a href="#" class="btn btn-warning" style="margin-top: 35px;">Study Center</a>
	                  </center>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col-sm-4  ">
	          <div class="row">
	            <div class="col-sm-12"
	              style="background-color:rgb(255, 255, 251,0.2); height: 315px; margin-top: 20px; width: 305px; margin-right: 100px;border-radius: 20px;">
	              <div class="card" style="width: 17rem; margin-top: 17px;   height: 280px; margin-left: 5px;">

	                <div class="card-body" style="background-color:white; border-radius: 20px;">
	                  <center>
	                    <p class="card-text">The university admin can login to monitor the portal, provide access to
	                      authorised stake holders & upload study material.</p>
	                    <a href="#" class="btn btn-warning" style="margin-top: 60px;">University Admi</a>
	                  </center>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>


	    </div>
	    <!-- user of the portal end -->






	    <!-- student service Start -->
	     <div class="row">
	      <div class="row">
	        <div class="col-sm-12" style="padding-top: 40px;">
	          <span style=" color: rgb(219, 189, 189);">
	            <h4 style="margin-left: 140px;">Features<ab style="color: pink;"> ________________</ab>
	            </h4>
	          </span>
	          <span style="font-size: 30px;margin-left: 140px; color: red;"><b>Student </b></span>&nbsp;<span
	            style="font-size: 30px;"><b> Services</b></span>
	        </div>
	      </div>
	     
	      
	     
	     <div class="row" style="margin-top: 30px;">
	      <div class="col-sm-3">
	        <div style="height: 245px; border: 1px solid; width: 245px; margin-left: 160px;">
	          <img src="images/registration.jpg" alt="">
	        </div>
	      </div>
	      <div class="col-sm-3">
	        <div style="height: 245px; border: 1px solid; width: 245px; margin-left: 95px;">
	          <img src="images/dashboard.jpg" alt="">
	        </div>
	      </div>
	      <div class="col-sm-3">
	        <div style="height: 245px; border: 1px solid; width: 245px; margin-left: 35px;">
	          <img src="images/online-courses.jpg" alt="">
	        </div>
	      </div>
	      <div class="col-sm-3">
	        <div style="height: 245px; border: 1px solid; width: 245px; margin-left: -30px;">
	          <img src="images/e-lectures.jpg" alt="">
	        </div>
	      </div>
	    </div>
	   
	    <div class="row" >
	      <div class="col-sm-3">
	        <div style="height: 35px; border: 1px solid; width: 245px; margin-left: 160px; background-color:#8B0000;">
	          <center style="color: white;">Login</center>
	        </div>
	      </div>
	        <div class="col-sm-3">

	          <div style="height: 35px; border: 1px solid; width: 245px; margin-left: 95px; background-color:#8B0000;">
	            <center style="color: white;">Dashboard</center>
	          </div>

	        </div>
	        <div class="col-sm-3">

	          <div style="height: 35px; border: 1px solid; width: 245px; margin-left: 35px; background-color:#8B0000;">
	            <center style="color: white;">Self Learning Material (SLM)</center>
	          </div>

	        </div>
	        <div class="col-sm-3">

	          <div style="height: 35px; border: 1px solid; width: 245px; background-color:#8B0000; margin-left: -30px;">
	            <center style="color: white;">e-Books</center>
	          </div>

	        </div>
	        
	      </div>
	      
	    </div> 
	 <div class="row" style="margin-top: 30px;">
	  <div class="col-sm-3">
	    <div style="height: 245px; border: 1px solid; width: 245px; margin-left: 155px;">
	      <img src="images/e-lectures.jpg" alt="">
	    </div>
	  </div>
	  <div class="col-sm-3">
	    <div style="height: 245px; border: 1px solid; width: 245px; margin-left: 85px;">
	      <img src="images/performance.jpg" alt="">
	    </div>
	  </div>
	  <div class="col-sm-3">
	    <div style="height: 245px; border: 1px solid; width: 245px; margin-left: 25px;">
	      <img src="images/feedback.jpg" alt="">
	    </div>
	  </div>
	  <div class="col-sm-3">
	    <div style="height: 245px; border: 1px solid; width: 245px; margin-left: -40px;">
	      <img src="images/course-catlog.jpg" alt="">
	    </div>
	  </div>
	</div>
	<div class="row" >
	  <div class="col-sm-3">
	    <div style="height: 35px; border: 1px solid; width: 245px; margin-left: 155px; background-color: #8B0000;">
	      <center style="color: white;">Self-Assessment Tools </center>
	    </div>
	  </div>
	    <div class="col-sm-3">

	      <div style="height: 35px; border: 1px solid; width: 245px; margin-left: 85px; background-color: #8B0000;">
	        <center style="color: white;">Performance</center>
	      </div>

	    </div>
	    <div class="col-sm-3">

	      <div style="height:  35px; border: 1px solid; width: 245px; margin-left: 25px; background-color: #8B0000;">
	        <center style="color: white;">Feedback </center>
	      </div>

	    </div>
	    <div class="col-sm-3">

	      <div style="height: 35px; border: 1px solid; width: 245px; background-color: #8B0000; margin-left: -40px;">
	        <center style="color: white;">Courses-Catalogue </center>
	      </div>

	    </div>
	    
	  </div>
	    <!-- student service end -->





	  <!-- our mentor start --> 
	    <div class="row mt-5" style="background-color: rgb(218, 223, 227); padding-bottom: 100px;">
	      <div class="col-sm-12">
	        <div class="row mt-5">
	          <div class="col-sm-3" style="color: rgb(135, 137, 134); margin-left: 180px;"><h5>Our Mentors</h5></div>
	          <div class="col-sm-1" style="color:rgba(255, 175, 55, 0.968); margin-left: -250px;"><b>________________</b></div>
	        </div>
	        <div class="row">
	          <div class="col-sm-2 text-end text-black" style="margin-left: 140px; margin-top: -10px;">
	            <h3 class="me-0"><b>Administrative</b></h3>
	          </div>
	          <div class="col-sm-6 text-start" style="color:rgb(176, 20, 0); margin-top: -10px;">
	            <h3 class="ms-0"><b>Setup</b></h3>
	          </div>
	        </div>
	      </div>

	      <div class="row">
	        <div class="col-sm-3"><div class="col-sm-12 p-2"
	          style="background-color:white; height: 315px; margin-top: 20px; width: 300px; margin-left: 180px;border-radius: 20px;">
	          <div class="card mycard" style="width: 200px; margin-top: 20px;border:2px solid red; border-radius: 100%;  height: 200px; margin-left: 40px; overflow: hidden;">
	            <img src="images/vc.jpg" alt="">
	            
	            </div>
	            <span class="" style="color: #b00808; margin-left: 60px;"><b class="mt-2">Prof. (Dr.) K. C. Sinha</b></span>
	            <p class="" style="margin-left: 70px;">VICE CHANCELLOR</p>
	          </div></div>
	        <div class="col-sm-3"><div class="col-sm-12 p-2"
	          style="background-color:white; height: 315px; margin-top: 20px; width: 300px; margin-left: 120px;border-radius: 20px;">
	          <div class="card mycard" style="width: 200px; margin-top: 20px;border:2px solid red; border-radius: 100%;  height: 200px; margin-left: 40px; overflow: hidden;">
	            <img src="images/pvc.jpg" alt="">
	            
	            </div>
	            <span class="" style="color: #b00808; margin-left: 60px;"><b class="mt-2">Prof. (Dr.) Sanjoy Kumar</b></span>
	            <p class="" style="margin-left: 70px;"> PRO VICE CHANCELLOR</p>
	          </div></div>
	        <div class="col-sm-3"><div class="col-sm-12 p-2"
	          style="background-color:white; height: 315px; margin-top: 20px; width: 300px; margin-left: 60px;border-radius: 20px;">
	          <div class="card mycard" style="width: 200px; margin-top: 20px;border:2px solid red; border-radius: 100%;  height: 200px; margin-left: 40px; overflow: hidden;">
	            <img src="images/registrar1.jpeg" alt="">
	            
	            </div>
	            <span class="" style="color: #b00808; margin-left: 60px;"><b class="mt-2">Dr. Md. Habibur Rahman</b></span>
	            <p class="" style="margin-left: 70px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;REGISTRAR</p>
	          </div></div>
	        <div class="col-sm-3"><div class="col-sm-12 p-2"
	          style="background-color:white; height: 315px; margin-top: 20px; width: 300px; margin-left: px;border-radius: 20px;">
	          <div class="card mycard" style="width: 200px; margin-top: 20px;border:2px solid red; border-radius: 100%;  height: 200px; margin-left: 40px; overflow: hidden;">
	            <img src="images/examreg.jpg" alt="">
	            
	            </div>
	            <span class="" style="color: #b00808; margin-left: 60px;"><b class="mt-2">Dr. Neelam Kumari</b></span>
	            <p class="" style="margin-left: 70px;">REGISTRAR (Exam)</p>
	          </div></div>
	      </div>
	      </div>
	  <!-- our mentors end -->





	   <!-- our course start -->
	  <div class="row">
	    <div class="col-sm-12">
	      <div class="row mt-5">
	        <div class="col-sm-3" style="color: rgb(135, 137, 134); margin-left: 180px;"><h5>COURSES</h5></div>
	        <div class="col-sm-1" style="color:rgba(255, 175, 55, 0.968); margin-left: -290px;"><b>________________</b></div>
	      </div>
	      <div class="row">
	        <div class="col-sm-2 text-end text-black" style="margin-left: 10px; margin-top: -10px;">
	          <h3 class="me-0"><b>OUR</b></h3>
	        </div>
	        <div class="col-sm-6 text-start" style="color:rgb(176, 20, 0); margin-top: -10px; margin-left: -20px;">
	          <h3 class="ms-0"><b>COURSES</b></h3>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-sm-12">
	      <a href="#" class="btn btn-warning" style="margin-left: 1230px;">View All Courses</a>
	    </div>
	  </div>
	  <!-- our course end -->



	  <!-- courses slider start -->
	  <div class="row mt-5" style="margin-left: 270px; padding-bottom: 100px;">
	   
	    <div class="col-sm-3 shadow" style="padding-bottom: 40px;"><div class=" p-2" style="width: 18rem;">
	      <img src="images/omp.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title text-center mt-2"><b>Bacholor in Buisiness Administrator(BBA)</b>
	        <h5 class="text-center mt-4" style="color: #f59608;"><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star fa-spin"></i></h5>
	        </h5>
	        
	      </div>
	    </div></div>
	    <div class="col-sm-3 shadow ms-3" style="padding-bottom: 40px;"><div class=" p-2" style="width: 18rem;">
	      <img src="images/omp3.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title text-center mt-2"><b>Bacholor of Computer Application(BCA)</b>
	        <h5 class="text-center mt-4" style="color: #f59608;"><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star fa-spin"></i></h5>
	        </h5>
	        
	      </div>
	    </div></div>
	    <div class="col-sm-3 shadow ms-3" style="padding-bottom: 40px;"><div class=" p-2" style="width: 18rem;">
	      <img src="images/omp2.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title text-center mt-2"><b>Master in Computer Application</b>
	        <h5 class="text-center mt-4" style="color: #f59608;"><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star fa-spin"></i><i class="fa-solid fa-star fa-spin"></i></h5>
	        </h5>
	        
	      </div>
	    </div></div>
	   
	  </div>
	  <!-- courses slider end -->




	   <!-- nou tutorial start -->
	   <div class="row"style="	   background-size: cover;
	       background-image: url('../images/bg4.jpg');
	       background-attachment: fixed;
	       height: 600px;
	       color: rgb(251, 251, 251,0.3);">
	    <div class="col-sm-12">
	      <div class="row mt-5">
	        <div class="col-sm-3" style="color: rgb(135, 137, 134); margin-left: 180px;"><h5>How To Use</h5></div>
	        <div class="col-sm-1" style="color:rgba(255, 175, 55, 0.968); margin-left: -270px;"><b></b></div>
	      </div>
	      <div class="row">
	        <div class="col-sm-5 text-end text-black" style="margin-left: 28px; margin-top: -10px;">
	          <h3 class="text-light"><b>NOU e-Gyan Portal Tutorial Videos</b></h3>
	        </div>
	        <div class="row">
	          <div class="col-sm-12">
	            <b class="text-light" style="margin-left: 182px;">For any queries regarding the access into the Portal, the users can watch the tutorial videos provided or feel free to communicate their issues via</b><br><b  class="text-light" style="margin-left: 182px;">the given contact helpline number or helpline email ID.</b>
	          </div>
	        </div>
	      </div>
	      <div class="row mt-5">
	        <div class="col-sm-4 shadow" style="margin-left: 195px; height: 300px;"><a class="btn" href="https://youtu.be/Sh9VxOBoYbk" style="height: 300px; width: 500px; overflow: hidden; margin-left: -15px;"><img src="images/yt.jpg" alt=""></a></div>
	        <div class="col-sm-4 shadow" style="margin-left: 140px; height: 300px;"><a class="btn" href="https://youtu.be/cEaTY8EfdRs" style="height: 300px; width: 500px; overflow: hidden; margin-left: -15px;"><img src="images/yt1.jpg" alt=""></a></div>
	      </div>
	    </div>
	  </div>
	<!-- nou tutorial end -->




	  <!-- helpdesk start -->
	  <div class="row">
	    <div class="col-sm-12">
	      <div class="row mt-5">
	        <div class="col-sm-3" style="color: rgb(135, 137, 134); margin-left: 180px;"><h5>HELPDESK</h5></div>
	        <div class="col-sm-1" style="color:rgba(255, 175, 55, 0.968); margin-left: -280px;"><b>________________</b></div>
	      </div>
	      <div class="row">
	        <div class="col-sm-2 text-end text-black" style="margin-left: 60px; margin-top: -10px;">
	          <h3 class="me-0"><b>ALWAYS</b></h3>
	        </div>
	        <div class="col-sm-6 text-start" style="color:rgb(176, 20, 0); margin-top: -10px;">
	          <h3 class="ms-0"><b>HERE TO SUPPORT YOU</b></h3>
	        </div>
	      </div>
	    </div>
	  </div>
	<!-- helpdesk end -->






	  <!--   helpdesk second start -->
	<div class="row">
	  <div class="col-sm-2"></div>
	  <div class="col-sm-4" >
	    <img src="images/helpline.svg" alt="" style="margin-right: 80px;">
	  </div>
	  <div class="col-sm-4">


	    <div class="row">
	      <div class="col-sm-12 py-3" style="background-color: #EF6603;">The help desk provides users assistance  to navigate and  undrestand the aspects of the portal. This also  provides a simple interface for maintenance of student information and  issues  faced. 

	      </div>
	    </div>
	    <div class="row">
	      <div class="col-sm-12 py-4 mt-2"  style="border: 1px solid;">&nbsp;&nbsp; <i class="fa-solid fa-phone " style="color: #EF6603; font-size: 25px;"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black; font-size: 20px;"><b>+91 7080102007</b></span>

	      </div>
	    </div>
	    <div class="row">
	      <div class="col-sm-12 py-4 mt-2"  style="border: 1px solid;">&nbsp;&nbsp; <i class="fa-solid fa-envelope " style="color: #EF6603; font-size: 25px;"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black; font-size: 20px;"><b> nouegyanhelp@gmail.com</b></span>

	      </div>
	    </div>
	  </div>
	  <div class="col-sm-2"></div>
	</div>
	  <!-- helpdesk 2nd end -->





	  <!-- Quick link start -->
	  <div class="row mt-5" style="background-color: rgb(218, 223, 227); padding-bottom: 100px;">
	    <div class="col-sm-12">
	      <div class="row mt-5">
	        <div class="col-sm-3" style="color: rgb(135, 137, 134); margin-left: 230px;"><h5>LINKS</h5></div>
	        <div class="col-sm-1" style="color:rgba(255, 175, 55, 0.968); margin-left: -320px;"><b>________________</b></div>
	      </div>
	      <div class="row">
	        <div class="col-sm-2 text-end text-black" style="margin-left: 73px; margin-top: -10px;">
	          <h3 class="me-0"><b>Quick</b></h3>
	        </div>
	        <div class="col-sm-6 text-start" style="color:rgb(176, 20, 0); margin-top: -10px; margin-left: -20px;">
	          <h3 class="ms-0"><b>links</b></h3>
	        </div>
	      </div>
	    </div>
	    <div class="row mt-5">
	      <div class="col-sm-1"></div>
	      <div class="col-sm-10">
	      <div class="row">
	         
	            <div class="col-sm-4 " style="border: 1px solid;  width: 380px; background-color: white;">
	              <div class="row">
	                <div class="col-sm-4">
	                <img src="images/logo2.png" alt="" style="height: 150px;">
	                            </div>
	                            <div class="col-sm-8">
	                              <center style="font-size: 25px; margin-top: 10px; "><span><b>BSHEC</b></span></center> <br>
	                              <center style="margin-top: -10px; font-size: 17px;"><SPAN style="margin-left: 30px;"> Bihar State Higher 
	                              </SPAN>
	                              <SPAN style="margin-left: 30px;">Education council
	                              </SPAN></center>
	                            </div>
	                          </div>




	            </div>
	        <div class="col-sm-4 " style="border: 1px solid; width: 380px; margin-left: 30px; background-color: white;">

	          <div class="row">
	            <div class="col-sm-4">
	            <img src="images/logo1 (1).png"alt="" style="height: 150px;">
	                        </div>
	                        <div class="col-sm-8">
	                          <center style="font-size: 25px; margin-top: 10px;"><span><b>NOU</b></span></center> <br>
	                          <center style="margin-top: -10px; font-size: 17PX;"><SPAN style="margin-left: 30px;"> Nalanda Open
	                          </SPAN>
	                          <SPAN style="margin-left: 30px;">Univercity
	                          </SPAN></center>
	                        </div>
	                      </div>

	        </div>
	        <div class="col-sm-4 " style="border: 1px solid; width: 380px; margin-left: 30px; background-color: white;">
	          <div class="row">
	            <div class="col-sm-4">
	            <img src="images/logo2.png" alt="" style="height: 150px;">
	                        </div>
	                        <div class="col-sm-8 ">
	                          <center style="font-size: 25px; margin-top: 10px;"><span><b>STD</b></span></center> <br>
	                          <center style="margin-top: -10px;"><SPAN style="margin-left: 30px;"> Science And Tecnology
	                          </SPAN>
	                          <SPAN style="margin-left: 30px;">Department
	                          </SPAN></center>
	                        </div>
	                      </div>



	        </div>
	      </div>
	 </div>
	          </div>
	  </div>
	  <!-- Quick links end -->





	     
	  <!-- FEEDBACK START -->
	  <div class="row mt-1 py-2">
	    <div class="col-sm-12">
	      <div class="row mt-5">
	        <div class="col-sm-3" style="color: rgb(135, 137, 134); margin-left: 180px;"><h5>FEEDBACK</h5></div>
	        <div class="col-sm-1" style="color:rgba(255, 175, 55, 0.968); margin-left: -280px;"><b>________________</b></div>
	      </div>
	      <div class="row">
	        <div class="col-sm-2 text-end text-black" style="margin-left: 85px; margin-top: -10px;">
	          <h3 class="me-0"><b>FEEDBACK</b></h3>
	        </div>
	        <div class="col-sm-6 text-start" style="color:rgb(176, 20, 0); margin-top: -10px;">
	          <h3 class="ms-0"><b>FROM OUR STUDENT</b></h3>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- FEEDBACK END -->




	   <!-- FEEDBACKPIC START -->
	    <div class="row mt-1 py-2">
	      <div class="col-sm-2"></div>
	      <div class="col-sm-2 ">
	        <img src="images/t3.webp" alt="" style="height:160px;">
	      </div>
	      <div class="col-sm-6 mt-3">
	        <div class="row" style="text-align: justify;"><b>“This is best and biggest unified platform for instant online learning. We can easily access any  content of our enrolled course from the portal. Thank you NOU e-Gyan!!“</b>
	      </div>
	      <div class="row mt-3" style="margin-left: 10px;">-Saurabh Tripathi- <br>
	        University Student</div>
	      <div class="col-sm-2"></div>
	    </div>
	  </div>
	   <!-- FEEDBACKPIC END -->


	   
	  
	         <!-- Footer start -->
	   <div class="row" style="background-color: #8B0000">
	    <div class="col-sm-9 mx-auto py-5">
	      <div class="row" style="text-align: justify; color: white;">
	        <div class="col-sm-3">
	          <div class="mx-auto mb-2" style="height: 130px; width: 51%; background-color: white; border-radius: 120px; border: 2.5px solid rgb(249, 170, 25);" >
	            <img src="images/foot.png" class="img-fluid">
	          </div>
	          <span><b><small><p>Nalanda Open &nbsp;University is a State</p> <p>Open&nbsp; University&nbsp; duly&nbsp;&nbsp; established</p><p> under the Act of Bihar Government </p><p>and is also &nbsp;recognized by &nbsp;Distance</p><p> Education &nbsp;Council, IGNOU, Maidan</p> Garhi, New Delhi.</small></b></span>
	        </div>
	        <div class="col-sm-3 pt-4">
	          <span class="fs-2">Useful Links</span>
	          <div style="height: 3px; width: 52%; background-color: rgb(223, 100, 19);"></div><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>Home</small></b></button><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>About Portal</small></b></button><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>Services</small></b></button><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>Contact us</small></b></button><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>Courses</small></b></button><br>
	          <button class="btn text-light" ><i class="fa-solid fa-arrow-right-long"></i>&nbsp;&nbsp;&nbsp; <b><small>Study Centre</small></b></button>
	        </div>
	        <div class="col-sm-3 pt-4">
	          <span class="fs-2">Contact info</span>
	          <div style="height: 3px; width: 52%; background-color: rgb(223, 100, 19);"></div><br>
	          <span class="fs-5 fw-semibold"><i class="fa-solid fa-location-dot" style="font-size: 18px;"></i> NOU</span><br><br>
	          <small><b>
	            <p>2nd / 3rd Floor , Biscomaun</p>
	            <p>Bhawan , Gandhi Maidan , Patna</p>
	            <p>800 001 (BIHAR).</p><br>
	            <p class="fs-5"><i class="fa-solid fa-phone-volume" style="font-size: 17px;"></i> +91 7080102007</p>
	            <p class="ps-3">Give us a call</p>
	          </b></small>
	        </div>
	        <div class="col-sm-3 pt-4">
	          <span class="fs-2">Subscribe</span>
	          <div style="height: 3px; width: 52%; background-color: rgb(223, 100, 19);"></div><br>
	          <small><b>
	            <p>Fill the&nbsp; detail below to receive</p><p>the manual of the NOU e-Gyan</p> Portal
	          </b></small><br><br>
	          <div class="position-relative">
	            <input type="text" class="form-control position-absolute py-2" placeholder="Email Address" style="background-color: rgb(99, 96, 96); color: aliceblue; border-radius: 100px;"/>
	            <button class="btn btn-danger position-absolute end-0 py-2" style="background-color:#f56642; border-radius: 3px 70px 70px 3px; width: 24%;">
	              <i class="fa-brands fa-telegram" style="font-size:24;"></i></button>
	          </div>
	        </div>
	      </div>
	    </div>
	   </div>
	   <div class="row text-light">
	    <div class="col-sm-12 text-center py-3" style="background-color: #6a1919;">
	      © Copyright 2024 Designed & Developed By | Yugank Singh Rockstar*
	      <button class="fs-5 btn text-light float-end" style="margin-top: -23px; background-color: #EF6603; width: 45px; border-radius: 100px;"><i class="fa-solid fa-arrow-up"></i></button>
	    </div>
	   </div>
	  <!-- Footer end --> 



	  </div>
	
	
	
	
	
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>