 <html>
	<head>
		<title>Stulogin</title>
		    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
			    <link rel="stylesheet" href="css/style.css">
		</head>
		<body>
			<!-- first nav start -->
			    <div class="row">
			      <div class="col-sm-12  py-2 text-light"
			        style="border-bottom: 1px rgb(243, 243, 47) dashed; background-color: darkred;">
			        <div class="row">
			          <div class="col-sm-6 text-center"><i class="fa-solid fa-phone fa-spin"></i> +91 7080102007 <i
			              class="fa-solid fa-envelope ms-3"></i> nouegyanhelp@gmail.com
			          </div>
			          <div class="col-sm-6 text-center">Sat Sep 07 2024 22:16:11 GMT+0530 (India Standard Time)</div>
			        </div>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-sm-12 text-center text-light py-3"
			        style="background-color: darkred; border-bottom: 1px rgb(243, 243, 47) dashed;">
			        For Admission and Examination related query, Kindly call on University helpline Numbers
			        9341508580,9341508577,0612-2201013 & 0612-2206916
			      </div>
			    </div>
			    <!-- first nav end-->







			    <!-- second nav start -->
			    <div class="row py-2">
			      <div class="col-sm-2 text-end logo"><a href="#"><img src="images/logo1 (1).png" alt=""></a></div>
			      <div class="col-sm-4">
			        <h2 style="color: darkred; margin-left: 45px;">NOU e-Gyan PORTAL</h2><span class="fw-semibold ms-5">(A Concept
			          by Nalanda Open University)</span>
			      </div>
			      <div class="col-sm-6 p-3">
			        <a href="" class="btn text-info btn border-info"
			          style="height: 40px; width: 40px; border-radius: 100px; margin-left: 280px;">
			          <i class="fa-brands fa-twitter fa-spin"></i>
			        </a>
			        <a href="" class="btn text-primary btn border-primary"
			          style="height: 40px; width: 40px; border-radius: 100px; margin-left: 2px;">
			          <i class="fa-brands fa-facebook fa-spin"></i>
			        </a>
			        <a href="" class="btn btn  border-danger"
			          style="height: 40px; width: 40px; border-radius: 100px;color: rgb(235, 79, 133); margin-left: 2px;">
			          <i class="fa-brands fa-instagram fa-spin"></i></a>
			        <a href="" class="btn  btn border-info"
			          style="height: 40px; width: 40px; border-radius: 100px; color: blue; margin-left: 2px;">
			          <i class="fa-brands fa-linkedin fa-spin"></i></a>
			        <a href="" class="btn btn border-danger"
			          style="height: 40px; width: 40px; border-radius: 100px; color: red; margin-left: 2px;">
			          <i class="fa-brands fa-youtube fa-spin"></i> </a>
			      </div>
			    </div>
			    <!-- second nav end -->
				<div class="row">
					          <div class="col-sm-6 py-4  " style="background-color:rgba(0,0,0,0.7);">
					            <span style="font-size: 35px; color: white; margin-left: 130px;">WELCOME</span><span
					              style="font-size: 35px; color: red;">STUDENTS</span>
					          </div>

					          <div class="col-sm-6 p-0 rahul" style="background-color: rgba(0,0,0,0.7);">

					            <nav class="navbar navbar-expand-lg " style="margin-top: 13px;">
					              <div class="container-fluid ">

					                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 50px;">
					                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
					                    <li class="nav-item dropdown">
					                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
					                        aria-expanded="false" style="color:white;">
					                        Home
					                      </a>
					                      <ul class="dropdown-menu">
					                        <li><a class="dropdown-item" href="/home">Home</a></li>
					                        <li><a class="dropdown-item" href="#">About portal</a></li>
											<li><a class="dropdown-item" href="/studentlogin">Registration</a></li>

					                      </ul>
					                     
					                    <li class="nav-item">
					                      <a class="nav-link" href="/studentlogin"> <span style="color: white;"><i
					                            class="fa-solid fa-book-open"></i>&nbsp;&nbsp;&nbsp;Registration</a></span>
					                    </li>
					                    <li class="nav-item"></li>
					                    <a class="nav-link" href="#"><span style="color: white;"><i
					                          class="fa-solid fa-book-open"></i>&nbsp;&nbsp;&nbsp;Services</a></span>
					 	                    <li class="nav-item"></li>
					                    <a class="nav-link" href="#"><span style="color:white;"><i class=" fa-solid
					                        fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;Study Center</a></span>
					                   
					                    <li class="nav-item dropdown">
					                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
					                        aria-expanded="false" style="color:white;">
					                        <i class="fa-solid fa-key fa-spin"></i>&nbsp;&nbsp; Login
					                      </a>
					                      <ul class="dropdown-menu">
					                        <li><a class="dropdown-item" href="/adminlogin">Admin Login</a></li>
					                        <li><a class="dropdown-item" href="#">Study Centre login</a></li>
					                        <li><a class="dropdown-item" href="/stulogin">Student Login</a></li>

					                      </ul>
					                     
					                    <li class="nav-item"></li>
					                    <a class="nav-link" href="/contactus"> <span style="color: white;"><i
					                          class="fa-solid fa-phone fa-spin"></i>&nbsp;&nbsp;&nbsp;Contact</a></span>
					                     

					                  </ul>

					                </div>
					              </div>
					            </nav>
					          </div>
					        </div>

			<div class="container-fluid">
			<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-8 col-md-9">
			<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
			<div class="row">
			<div class="col-lg-12">
			<div class="p-5">
			<div class="text-center">
			<img src="images/logo1 (1).png" width="15%">
			<h5 class="mb-4">Student Login</h5> 
			</div>
			<form id="stuLoginFrm" name="stuvLoginFrm"  th:object ="${dto}" class="user" method="post" accept-charset="utf-8">
			<input type="hidden" name="csrf_token" value="9acf86d67efa61b3371c7a500fc9ec9a" />
			<div class="form-group">
			<input type="text" th:field="${dto.enrollmentno}"required class="form-control form-control-user" id="Enter User Id" name="Enter User Id" value aria-describedby="usernameHelp" placeholder="Enter User Id(Enrollment No.)">
			</div>
			<br/>
			<div class="form-group">
			<input type="password"  th:field="${dto.password}" class="form-control form-control-user" id="password" name="password" placeholder="Enter Password" required>
			</div>
			<div th:if="${msg}">
				<p th:text="${msg}" style="color: red
				;"><p>
			</div>
			<br/>
			<center>
			<button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
			</center>
			</form> <hr>
			<div class="text-center">
			<a href="" class="small">Forgot Password?</a>
			</div>
			<div class="text-center">
			<a href="" class="small">Back To Home Page</a>
			</div>
			</div>
			</div>
			</div>
			</div>
			</div>
			</div>
			</div>
			<div class="row">
			    <div class="col-sm-12 py-4 text-center" style="color: black; background-color: rgb(233, 233, 221);">
			        Copyright © 2024 | NOU E-Gyan Portal, A Concept by Nalanda Open University, Bihar
			    </div>
			</div>
			</div>
			
			
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
			</body>
 </html>